body {
    background-color: yellow;
}
.c1 {
    background-color: red;
    width: 100%;
    height: 125px;
}

.c2 {
    width: 100%;
    height: 875px;
    margin: 0px 140px;
    background-color: blue;
    border-bottom-style: solid;
    border-bottom-width: 70px;
    border-bottom-color: #336600;
    
}